.formGroup {
    display: inline-block;
 margin-top: 30px;
 margin-left: auto;
 margin-right: auto;
 border : 1px solid white;

 
}
.text-centre{text-align: center;}
.text-rouge {color : red}

.form{

    display: flex;
    flex-direction: column;
    
  
  
    margin-left: 500px;
}
.label{
    margin-right: 30px;
}
container {
    margin: 80px auto;
    width: 640px;
}
.login ,.register,.movie-form{
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, .08);
    border-radius: 4px;
}
.login h1 ,.register h1 ,.movie-form h3 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}
.login p ,.register p {
    margin: 20px 0 0;
}
.login p:first-child {
    margin-top: 0;
}
.register input[type=text], .register input[type=password] {
    width: 278px;
}
.login p.remember_me {
    float: left;
    line-height: 31px;
}
.login p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
.login p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}
.login p.submit ,.register p.submit,.movie-form  p.submit{
    text-align: right;
}
.login-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}
.login-help a {
    color: #cce7fa;
    text-decoration: none;
}
.login-help a:hover {
    text-decoration: underline;
}
:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}
::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}
input {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

textarea{

    width: 100%;
    height: 100px;
}
input[type=text],.register.input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 220px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
}
input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}
input[type=button] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
}
input[type=submit]:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
}
.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}
.small{
    font-size: 10px;
    color: grey;
}
.nav{
    
    margin-top: 30px;
    margin-left: 20px;
    
}
.clor{

    color: honeydew;
    font-size: 18px;
}

.flexworper{

  display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
 margin: 5px  5px;
 margin-bottom: 90px;
 padding: 10px 10px;
   width: 300px;
   height:350px;
   border: 1px solid #c3c3c3;
 
   
}
.flex{

    display: flex;
   
   
   flex-wrap: wrap;
   
    justify-content: flex-start;
}

.searchbox{

    width:100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border: 2px solid #dd0025;
}


.add{
background-color: chartreuse;
color: floralwhite;

}

.remove{

background-color: fuchsia;
color: ghostwhite;

}
.info{

    background-color: royalblue;
    color: white;
}
.button{
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: .175rem .15rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.checked{
    color:red;
}

.nav-item{
margin-left: 20px;
}
.logout{

    color: white;
    background-color:grey;
}

.colorgrey{

    background-color: black;
    color: honeydew;
}
.inputwitheys{
    width: 220px;
    height: 20px;
    padding-right: 50px;
}
.colorgreyys{
    font-size: 12px;
color: #777;
cursor: pointer;
}

.flexSTART{

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.flexfavorite{
    display: flex;
justify-content: space-around;
flex-wrap: wrap;


  
}
.cardfavorite{
    border: 2px solid red;
    padding: 10px , 10px;
    padding: 30px;
    margin: 10px;
    background-color:brown;
}
.centerimage {

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.espace{
    margin-left: 15px;
}

.margin-bottom{

    margin-bottom: 50px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

/* SPINER */
.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

 .animatetext {
    position: absolute;
    margin-top: 20px;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 1, 1), #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  /*FIN SPINER */